.content-wrapper
  %section.content-header
    %h1
      Sign up
  .box.box-default
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .box-body
        .row
          .col-md-3
          .col-md-6
            = devise_error_messages!
          .col-md-3  
        .row
          .col-md-3
          .col-md-6
            .form-group
              %label Email
              = f.text_field :email, autofocus: true, :class => "form-control",:placeholder => "Enter Email", required: true
            .form-group
              %label Password
              = f.password_field :password, autocomplete: "off", :class => "form-control",:placeholder => "Enter Password", required: true
            .form-group
              %label Password Confirmation
              = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control",:placeholder => "Enter Password Confirmation", required: true
          .col-md-3
      .box-footer
        .row
          .col-md-3
          .col-md-6
            %button.btn.btn-primary{:type => "submit"} Sign up